@model List<WebApplication9.ie.jobs.www.JobListItem>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Company
        </th>
        <th>
            Location
        </th>
        <th>
            CreatedDT
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDT)
            </td>
        </tr>
    }

</table>
